<td><%= user_holiday.year%></td>
<td><%= user_holiday.holidays%></td>
<td><%= user_holiday.user.accepted_holiday_count%></td>
<td><%= user_holiday.user.in_progress_holiday_count%></td>
<td><%= user_holiday.user.planned_holiday_count%></td>
<td><%= user_holiday.user.unused_holiday_count%></td>
