<h3>My holiday requests</h3>
<div class="row">
  <div class="span1">
  </div>
  <div class="span11">
    <%= render :partial=> "time_sheets/time_sheet",:locals => {:time_sheets => @user.time_sheets.where(:work_time_type_id=> 2), :date => @date}%>
  </div>

</div>
<div class="row">
  <div class="span6">
    <%= render :partial=>"users/user_holiday_table", :locals => {:user => @user }%>
  </div>
  <div class="span6">
    <%= render :partial=>"users/user_sick_leave_table", :locals => {:user => @user }%>
  </div>
</div>
<table class ="table table-condensed">
  <thead>
    <tr>
      <th>Request owner</th>
      <th>Term start</th>
      <th>Term end</th>
      <th>Days</th>
      <th>Approver</th>
      <th>Holiday type</th>
      <th>Status</th>
      <th></th>
    </tr>
  </head>
  <tbody>
    <% @planned_holidays.each do |planned_holiday| %>
      <tr class= "<%= planned_holiday_color_helper(planned_holiday)%>" >
        <td><%= planned_holiday.user.name %></td>
        <td><%= planned_holiday.term_start %></td>
        <td><%= planned_holiday.term_end %></td>
        <td><%= planned_holiday.holidays_count %></td>
        <td><%= planned_holiday.approver.name %></td>
        <td><%= planned_holiday.holiday_type.name %></td>
        <td><%= planned_holiday_status_helper(planned_holiday) %></td>
        <td>
          <div class="btn-group">
              <% unless planned_holiday_actions_helper(planned_holiday, "request") == "" %>              
                <a class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <%= planned_holiday_actions_helper(planned_holiday, "request")%>
                </ul>
              <% end %>
            </div>
        </td> 
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  <tfoot>
    <tr>
      <td colspan ="7">
        <%= link_to 'New Holiday request', new_user_planned_holiday_path(current_user) , :class => "btn btn-mini btn-primary"%>
      </td>
    </tr>
  </tfoot>
</table>

